@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

::root {
  --color-grey-dark-intense: #565656;
  --color-grey-dark-medium: #404040;
}

* {
  margin: 0;
  padding: 0; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
  

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; 
  } 
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-medium);
}