@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

:root {
  --color-grey-dark-intense: #565656;
  --color-grey-dark-medium: #404040;
  --color-white-bluewish-background: #F5F6FA;
  --color-input-border: #D5D5D5;
  --color-placeholder-grey: #9C9C9C;
  --color-primary: #4880FF;
  --color-danger: #F93C65;
  --color-success: #00B69B;
}

* {
  margin: 0;
  padding: 0; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
  

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; 
  } 
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-medium);
}

/* ------------- Navigation ------------- */
.navbar {
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 80;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 8rem;
  box-shadow: rgba(245, 246, 250, 0.6) 0px 8px 24px;
}

.nav-left {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.logo-container {
  width: 129px;
  height: 27px;
} 

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.search-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.icon-size {
  font-size: 1.8rem;
  color: var(--color-grey-dark-medium);
}

.form-control {
  position: relative;
}

input[type="text"] {
  border: 1px solid var(--color-input-border);
  background-color: var(--color-white-bluewish-background);
  width: 38.8rem;
  height: 3.8rem;
  outline: none;
  border-radius: 3.6rem;
  padding: 1rem 2rem;
  padding-left: 5rem;
  color: var(--color-grey-dark-medium);
}

.form-control i {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-placeholder-grey); 
}

input[type="text"]::placeholder {
  color: var(--color-placeholder-grey);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.bell {
  position: relative;
}

.bell-size {
  font-size: 2.6rem;
  color: var(--color-primary);
}

.red-dot {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--color-danger);
  position: absolute;
  top: -6px;
  right: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
}

.language {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.language h2 {
  font-size: 1.4rem;
  color: var(--color-grey-dark-medium);
}

.language i {
  font-size: 1.2rem;
  color: var(--color-grey-dark-medium);
}

.username-container {
  display: flex;
  gap: 1rem;
}

.username-container img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.user-role {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-role h3 {
  font-size: 1.4rem;
  color: var( --color-grey-dark-intense);
}

.user-role span {
  font-size: 1.2rem;
  color: var(--color-grey-dark-medium);
}

.cursor-pointer {
  cursor: pointer;
}

/* ------------ Sidebar ------------ */
.main-container {
  display: flex;
  background: var(--color-white-bluewish-background);
  min-height: calc(100vh);
  height: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 25rem;
  min-height: 100vh;
}

.sidebar-list {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.sidebar-list li {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-self: flex-start;
  margin: 0 auto;
  position: relative;
}

.sidebar-item {
  display: flex;
  align-items: center;
  width: 18rem;
  padding: 1rem 2rem;
  gap: 2rem;
  color: var(--color-grey-dark-medium);
  font-size: 1.2rem;
}

.sidebar-item-active {
  background: var(--color-primary);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.sidebar-icon-active {
  color: rgba(255, 255, 255, 0.9) !important;
}

.sidebar-item i {
  color: var(--color-grey-dark-medium);
}

.sidebar-span-active::before {
  content: "";
  width: 4px;
  height: 4rem;
  background: var(--color-primary);
  position: absolute;
  top: 0;
  left: -3rem;
  border-radius: 6px;
}

.menu-line-break {
  margin: 2rem 0;
  width: 100%;
  height: 1px;
  background: var(--color-input-border);
  border: none;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  padding-left: 5.5rem;
  color: var(--color-placeholder-grey);
}

.re-margin {
  margin-top: 0;
}

/* ------------ Cards ------------ */

.dashboard-inner {
  width: calc(100% - 25rem);
  height: calc(100% - 6rem);
  margin-top: 6rem;
  padding: 3rem;
}

.dashboard-inner h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-grey-dark-intense);
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.card-main {
  display: flex;
  justify-content: space-between
}

.card-left h5 {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-grey-dark-medium);
}

.heading-number {
  font-size: 3.4rem;
  font-weight: 700;
  color: var(--color-grey-dark-intense);
  margin-top: 6px;
}

.card-footer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.trend {
  display: flex;
  align-items: center;
  gap: 6px;
}

.trend h5 {
  font-size: 1.4rem;
  margin-right: 6px;
}

.trend-success {
  color: var(--color-success);
}

.trend-danger {
  color: var(--color-danger);
}

.card-footer p {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-grey-dark-medium);
}
